<%- include("partials/_sidebar") %>

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column bg-gray-900">

        <!-- Main Content -->
        <div id="content">

            <%- include("partials/_header") %>

                <script type="module" src="datos/selectDepartamento.js"></script>

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <div class="container">
                        <div class="card shadow mb-4 bg-gray-200">
                            <div class="card-header py-3 bg-primary">
                                <h6 class="m-0 font-weight-bold text-light">Panel de administración de Contratos</h6>
                            </div>

                            <div class="card-body p-4">
                                <div class="responsive">
                                    <form action="/add_contrato" method="post">
                                        <legend class="text-center bg-gray-900 text-light border-bottom-primary">Registro de contratos</legend>
                                        <hr>
                                        <div class="form-group row">
                                            <div class="col-sm-4 mb-3 mb-sm-0">
                                                <label class="form-label mt-4">Nombre del contrato</label>
                                                <input type="text" class="form-control" id="nombre_contrato"
                                                    name="nombre_contrato" placeholder="" autocomplete="off" required>
                                            </div>
                                            <div class="col-sm-4 mb-3 mb-sm-0">
                                                <label for="exampleSelect1" class="form-label mt-4">Tipo de contrato</label>
                                                <select class="form-control" id="tipo" name="tipo" required>
                                                    <option value=''></option>
                                                    <% tipo.forEach(tipo=> { %>
                                                        <option>
                                                            <%= tipo.nombre_tipo %>
                                                        </option>
                                                        <% }); %>
                                                </select>
                                            </div>
                                            <div class="col-sm-4 mb-3 mb-sm-0">
                                                <label class="form-label mt-4">Valor del contrato</label>
                                                <input type="number" class="form-control" id="valor" name="valor"
                                                    placeholder="$">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-sm-4 mb-3 mb-sm-0">
                                                <label for="exampleSelect1" class="form-label mt-4">Departamento</label>
                                                <select class="form-control" id="departamento" name="departamento">
                                                    <option></option>
                                                </select>
                                            </div>
                                            <div class="col-sm-4 mb-3 mb-sm-0">
                                                <label for="exampleSelect1" class="form-label mt-4">Responsable</label>
                                                <select class="form-control" id="responsable" name="responsable">
                                                    <option value=''></option>
                                                    <% responsable.forEach(responsable=> { %>
                                                        <option>
                                                            <%= responsable.nombre %>
                                                                <%= responsable.apellido %>
                                                        </option>
                                                        <% }); %>
                                                </select>
                                            </div>
                                            <div class="col-sm-4 mb-3 mb-sm-0">
                                                <label for="exampleSelect1" class="form-label mt-4">Estado</label>
                                                <select class="form-control" id="estado" name="estado" required>
                                                    <option value=''></option>
                                                    <% estado.forEach(estado=> { %>
                                                        <option>
                                                            <%= estado.nombre_estado %>
                                                        </option>
                                                        <% }); %>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-sm-4 mb-3 mb-sm-0">
                                                <label for="" class="form-label mt-4">Fecha de inicio</label>
                                                <input type="date" class="form-control" id="fecha" name="fecha">
                                            </div>
                                            <div class="col-sm-4 mb-3 mb-sm-0">
                                                <label class="form-label mt-4">Fecha de finalización</label>
                                                <input type="date" class="form-control" id="plazo" name="plazo">
                                            </div>
                                            <div class="col-sm-4 mb-3 mb-sm-0">
                                                <label class="form-label mt-4">Enlace Secop</label>
                                                <input type="text" class="form-control" id="secop" name="secop"
                                                    placeholder="">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-sm-6 my-3 mb-sm-0">
                                                <label for="formFile" class="form-label mt-4">Adjuntar
                                                    archivos</label>
                                                <input class="form-control btn btn-secondary btn-icon-split" type="file"
                                                    id="archivo_contrato" name="archivo_contrato" multiple>
                                            </div>
                                            <div class="col-sm-6 mb-3 mb-sm-0">
                                                <label for="exampleTextarea" class="form-label mt-4">Descripción del
                                                    contrato</label>
                                                <textarea class="form-control" id="descripcion" rows="2"
                                                    name="descripcion"></textarea>
                                            </div>
                                        </div>
                                        <hr>
                                        <div class="form-group row">
                                            <div class="col-sm-6 mb-3 mb-sm-0">
                                                <a href="/table_contratos" class="btn btn-danger btn-block">
                                                    <span class="icon text-white-50">
                                                        <i class="fas fa-arrow-left"></i>
                                                    </span><span>Descartar</span>
                                                </a>
                                            </div>
                                            <div class="col-sm-6 mb-3 mb-sm-0">
                                                <button type="submit" class="btn btn-primary btn-block">Registrar</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->
        <%- include("partials/_footer") %>