<%- include("partials/_header") %>

  <script type="module" src="../datos/selectDepartamento.js"></script>

  <div class="container mt-5">
    <div class="row">
      <div class="col-md-5 text-light offset-md-3 card bg-dark border-primary">
        <div class="card-body">
          <form action="/update_contrato/<%= contrato.id_contrato %>" method="POST">
            <fieldset>
              <legend>Modificar contrato</legend>
              <div class="form-group">
                <label for="" class="form-label mt-4">Nombre del contrato</label>
                <input type="text" class="form-control" id="nombre_contrato" name="nombre_contrato"
                  value="<%= contrato.nombre_contrato %>" placeholder="Nombre del contrato">
              </div>
              <div>
                <label for="exampleTextarea" class="form-label mt-4">Descipcion del contrato</label>
                <textarea class="form-control" id="descripcion" rows="3"
                  name="descripcion"><%= contrato.descripcion %></textarea>
              </div>
              <div class="form-group">
                <label for="exampleSelect1" class="form-label mt-4">Tipo de contrato</label>
                <select class="form-select" id="tipo" name="tipo">
                  <option>
                    <%= contrato.nombre_tipo %>
                  </option>
                  <% tipo.forEach(tipo=> { %>
                    <option>
                      <%= tipo.nombre_tipo %>
                    </option>
                    <% }); %>
                </select>
              </div>
              <div class="form-group">
                <label for="" class="form-label mt-4">Valor del contrato</label>
                <input type="number" class="form-control" id="valor" name="valor" value="<%= contrato.valor %>" placeholder="">
              </div>
              <div class="form-group">
                <label for="exampleSelect1" class="form-label mt-4">Departamento</label>
                <select class="form-select" id="departamento" name="departamento">
                  <option>
                    <%= contrato.departamento %>
                  </option>
                </select>
              </div>
              <div class="form-group">
                <label for="exampleSelect1" class="form-label mt-4">Responsable</label>
                <select class="form-select" id="responsable" name="responsable">
                  <option>
                    <%= contrato.nombre %>
                      <%= contrato.apellido %>
                  </option>
                  <% responsable.forEach(responsable=> { %>
                    <option>
                      <%= responsable.nombre %>
                        <%= responsable.apellido %>
                    </option>
                    <% }); %>
                </select>
              </div>
              <div class="form-group">
                <label for="" class="form-label mt-4">Fecha de inicio</label>
                <input type="date" class="form-control" id="fecha" name="fecha" value="<%= contrato.fecha %>"
                  placeholder="">
              </div>
              <div class="form-group">
                <label for="" class="form-label mt-4">Plazo</label>
                <input type="date" class="form-control" id="plazo" name="plazo" value="<%= contrato.plazo %>"
                  placeholder="">
              </div>
              <div class="form-group">
                <label for="exampleSelect1" class="form-label mt-4">Estado</label>
                <select class="form-select" id="estado" name="estado">
                  <option>
                    <%= contrato.nombre_estado %>
                  </option>
                  <% estado.forEach(estado=> { %>
                    <option>
                      <%= estado.nombre_estado %>
                    </option>
                    <% }); %>
                </select>
              </div>
              <div class="form-group">
                <label for="" class="form-label mt-4">Enlace Secop</label>
                <input type="text" class="form-control" id="secop" name="secop" value="<%= contrato.secop %>"
                  placeholder="">
              </div>
              <br>
              <button type="submit" class="btn btn-primary">Editar</button>
            </fieldset>
          </form>
        </div>
      </div>
    </div>
  </div>

  <%- include("partials/_footer") %>