<%- include("partials/_header") %>

<div class="container">
  <br><br>
    <div class="table-responsive">
        <table class="table table-ms table-dark table-hover border-primary rounded-3">
          <thead>
            <tr class="text-center">
              <th scope="col">ID</th>
              <th scope="col">Nombre</th>
              <th scope="col">Telefono</th>
              <th scope="col">Correo</th>
              <th scope="col">Direccion</th>
              <th scope="col">Ciudad</th>
              <th scope="col">Cargo</th>
              <th class="table-active" colspan="2" scope="col">Acciones</th>
            </tr>
          </thead>
          <tbody class="text-center">
            <% if (usuarios) { %>
              <% for(var i=0; i < usuarios.length; i++) { %>
                <tr>
                  <td>
                    <%= usuarios[i].id %>
                  </td>
                  <td>
                    <%= usuarios[i].nombre %> <%= usuarios[i].apellido %>
                  </td>
                  <td>
                    <%= usuarios[i].telefono %>
                  </td>
                  <td>
                    <%= usuarios[i].correo %>
                  </td>
                  <td>
                    <%= usuarios[i].direccion %>
                  </td>
                  <td>
                    <%= usuarios[i].ciudad %>
                  </td>
                  <td>
                    <%= usuarios[i].rol_nombre %>
                  </td>
                  <td class="table-active">
                    <a href="/update/<%= usuarios[i].id %>" class="btn btn-success">
                      Edit
                    </a>
                  </td>
                  <td class="table-active">
                    <a href="/delete/<%= usuarios[i].id %>" class="btn btn-danger">
                      Delete
                    </a>
                  </td>
                </tr>
                <% } %>
                  <% } %>
          </tbody>
        </table>
      </div>

</div>

<%- include("partials/_footer") %>