<%- include("partials/_header") %>

<div class="container">

    <div class="col-md-7">
        <table class="table table-secondary table-hover">
          <thead>
            <tr>
              <th scope="row">ID</th>
              <th scope="row">Nombre</th>
              <th scope="row">Telefono</th>
              <th scope="row">Correo</th>
              <th scope="row">Direccion</th>
              <th scope="row">Ciudad</th>
              <th scope="row">Cargo</th>
            </tr>
          </thead>
          <tbody>
            <% if (usuarios) { %>
              <% for(var i=0; i < usuarios.length; i++) { %>
                <tr>
                  <td>
                    <%= usuarios[i].id %>
                  </td>
                  <td>
                    <%= usuarios[i].nombre %>
                  </td>
                  <td>
                    <%= usuarios[i].telefono %>
                  </td>
                  <td>
                    <%= usuarios[i].correo %>
                  </td>
                  <td>
                    <%= usuarios[i].direccion %>
                  </td>
                  <td>
                    <%= usuarios[i].ciudad %>
                  </td>
                  <td>
                    <%= usuarios[i].rol_nombre %>
                  </td>
                  <td class="d-flex gap-2">
                    <a href="/update/<%= usuarios[i].id %>" class="btn btn-info">
                      Edit
                    </a>
                    <a href="/delete/<%= usuarios[i].id %>" class="btn btn-danger">
                      Delete
                    </a>
                  </td>
                </tr>
                <% } %>
                  <% } %>
          </tbody>
        </table>
      </div>

</div>

<%- include("partials/_footer") %>