<%- include("partials/_sidebar") %>

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column bg-gray-900">

        <!-- Main Content -->
        <div id="content">

            <%- include("partials/_header") %>

                <script type="module" src="../datos/selectCiudad.js"></script>

                <!-- Begin Page Content -->
                <div class="container-fluid">
                    <br>
                    <div class="container">
                        <div class="card shadow mb-4 bg-gray-200">
                            <div class="card-header py-3 bg-primary">
                                <h6 class="m-0 font-weight-bold text-light">Panel de administración de usuarios</h6>
                            </div>

                            <div class="card-body p-4">
                                <div class="responsive">
                                    <form class="user" action="/update/<%= usuarios.id %>" method="POST">
                                        <legend>Modificar usuario</legend>
                                        <hr>
                                        <div class="form-group row">
                                            <div class="col-sm-4 mb-3 mb-sm-0">
                                                <label for="" class="form-label mt-4">Nombre</label>
                                                <input type="text" class="form-control" id="nombre" name="nombre"
                                                    value="<%= usuarios.nombre %>" placeholder="" autocomplete="off"
                                                    required>
                                            </div>
                                            <div class="col-sm-4 mb-3 mb-sm-0">
                                                <label for="" class="form-label mt-4">Apellido</label>
                                                <input type="text" class="form-control" id="apellido"
                                                    value="<%= usuarios.apellido %>" name="apellido" placeholder=""
                                                    autocomplete="off" required>
                                            </div>
                                            <div class="col-sm-4 mb-3 mb-sm-0">
                                                <label class="form-label mt-4">Teléfono</label>
                                                <input type="number" class="form-control" id="telefono"
                                                    value="<%= usuarios.telefono %>" name="telefono" placeholder=""
                                                    autocomplete="off">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-sm-3 mb-3 mb-sm-0">
                                                <label for="staticEmail" class="form-label mt-4">Correo</label>
                                                <input type="email" class="form-control" id="correo" name="correo"
                                                    value="<%= usuarios.correo %>" required>
                                            </div>
                                            <div class="col-sm-3 mb-3 mb-sm-0">
                                                <label for="" class="form-label mt-4">Dirección</label>
                                                <input type="text" class="form-control" id="direccion"
                                                    value="<%= usuarios.direccion %>" name="direccion" placeholder="">
                                            </div>
                                            <div class="col-sm-3 mb-3 mb-sm-0">
                                                <label for="exampleSelect1" class="form-label mt-4">Ciudad</label>
                                                <select class="form-control" id="ciudad" name="ciudad">
                                                    <option value="<%= usuarios.ciudad %>">
                                                        <%= usuarios.ciudad %>
                                                    </option>
                                                </select>
                                            </div>
                                            <div class="col-sm-3 mb-3 mb-sm-0">
                                                <label for="exampleSelect1" class="form-label mt-4">Cargo</label>
                                                <select class="form-control" id="rol" name="rol" required>
                                                    <option><%= usuarios.rol_nombre %></option>
                                                    <% 
                                                    const rolesFiltered = roles.filter(rol => rol.rol_nombre !== usuarios.rol_nombre);
                                                    rolesFiltered.forEach(rol => { %>
                                                      <option value="<%= rol.rol_nombre %>"><%= rol.rol_nombre %></option>
                                                    <% }); %>
                                                  </select>                                                  
                                            </div>
                                        </div>
                                        <hr><br>
                                        <div class="form-group row">
                                            <div class="col-sm-6 mb-3 mb-sm-0">
                                                <a href="/table_user" class="btn btn-danger btn-block">
                                                    <span class="icon text-white-50">
                                                        <i class="fas fa-arrow-left"></i>
                                                    </span><span>Descartar</span>
                                                </a>
                                            </div>
                                            <div class="col-sm-6 mb-3 mb-sm-0">
                                                <button type="button" class="btn btn-primary btn-block"
                                                    data-bs-toggle="modal" data-bs-target="#confirmModal">
                                                    <span class="icon text-white-50">
                                                        <i class="fas fa-check"></i>
                                                    </span><span>Editar</span>
                                                </button>
                                            </div>
                                        </div>
                                        <hr>
                                        <div class="modal fade" id="confirmModal" tabindex="-1"
                                            aria-labelledby="confirmModalLabel" aria-hidden="true">
                                            <div class="modal-dialog modal-dialog-centered">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="confirmModalLabel">Confirmación de
                                                            edición
                                                        </h5>
                                                    </div>
                                                    <div class="modal-body">
                                                        ¿Estás seguro de que quieres editar este usuario?
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary"
                                                            data-bs-dismiss="modal">Cancelar</button>
                                                        <button type="submit" class="btn btn-primary">Confirmar</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->
        <%- include("partials/_footer") %>